/* for index.html */

@font-face {
  font-family: aqua;
  src: local("aquafont"), url("http://cympfh.github.io/fonts/aquafont.ttf");
}

body {
  font-family: aquafont, aqua, YukarryAA;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #000;
  margin: 0;
  text-align: center;
}

header {
  text-align: center;
  margin: 60px 0 20px 0;
}

hr {
  padding: 0;
  text-align: center;
  width: 700px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

div.body {
  padding: 0;
  width: 800px;
  margin: 0 auto;
}

iframe {
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 0;
}

div.icons {
  text-align: center;
  font-size: 80px;
}

div.space {
  height: 100px;
}

.fa {
  color: #322;
  padding: 6px;
  transition: 0.3s;
  transition-duration: 0.3s;
}

a > .fa:hover {
  transform: rotate(-45deg);
}

.fa-exclamation {
  color: white;
  text-shadow:0 0 5px #000;
}

a > .fa-exclamation:hover {
  transform: rotate(0);
  transform: scale(1.2, 1.2);
}


