/* for index.html */

@font-face {
  font-family: aqua;
  src: local("aquafont"), url("http://cympfh.github.io/fonts/aquafont.ttf");
}

body {
  font-family: aquafont, aqua, YukarryAA;
  font-size: 14px;
  background-color: #fff;
  color: #403a3a;
  margin: 0;
}

/*
a {
  font-size: 14px;
  text-decoration: none;
  color: #f9f9ff;
}
*/

header {
  text-align: center;
  margin: 60px 0 20px 0;
  font-size: 80px;
}

header > span {
  color: #604a4a;
}

header > hr {
  padding: 0;
  text-align: center;
  width: 50%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.fa {
  color: #504040;
  padding: 6px;
  transition: 0.3s;
  transition-duration: 0.3s;
}

a > .fa:hover {
  transform: rotate(-45deg);
}

.fa-exclamation {
  color: white;
  text-shadow:0 0 5px #000;
}

a > .fa-exclamation:hover {
  transform: rotate(0);
  transform: scale(1.2, 1.2);
}


