#terminal {
  opacity: 0.0;
  transition: 0.5s;
  transition-duration: 0.5s;
  width: 100%;
}

#console> div.success {
  color: #0a0a0f;
}

div.fail {
  color: #ff5050;
}

div.content {
  width: 100%;
  background-color: #f3f0f0;
  padding: 0;
  margin: 10px 0;
}

div.console {
  font-size: 20px;
  font-family: monospace;
  margin: 0;
  padding: 0 80px;
  width: 80%;
  height: 350px;
}

.jquery-console-cursor {
  background-color: #f10;
}

.jquery-console-inner {
  height: 350px;
  overflow: hidden;
  word-wrap: break-word;
}

.jquery-console-nofocus > .jquery-console-prompt-box > .jquery-console-prompt > .jquery-console-cursor {
  opacity: 0.34;
}

a.cdir {
  text-decoration: underline;
  cursor: pointer;
}

a.cdir:hover {
  text-decoration: underline;
  color: red;
}
